<?xml version="1.0"?>
<ruleset name="Project Rules">
	<rule ref="10up-Default">
		<exclude name="Squiz.Commenting.FileComment" />
		<exclude name="PEAR.Functions.FunctionCallSignature.ContentAfterOpenBracket" />
		<exclude name="PEAR.Functions.FunctionCallSignature.CloseBracketLine" />
		<exclude name="PEAR.Functions.FunctionCallSignature.MultipleArguments" />
	</rule>

	<config name="minimum_supported_wp_version" value="5.1"/>

	<rule ref="WordPress.WP.I18n">
		<properties>
			<property name="check_translator_comments" value="false" />
			<property name="text_domain" type="array" value="eutopia-vetting" />
		</properties>
	</rule>

</ruleset>