version: 2
jobs:
  build:
    docker:
      - image: circleci/php:7.3-node-browsers
    working_directory: ~/project
    steps:
      - checkout
      - run: sudo composer self-update
      - restore_cache:
          keys:
            - composer-v1-{{ checksum "composer.lock" }}
            - composer-v1-
      - run: composer install -n --prefer-dist
      - save_cache:
          key:  composer-v1-{{ checksum "composer.lock" }}
          paths:
            - vendor
      - run: composer lint
