.app-details {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	text-align: left;
}

.app-details th,
.app-details td {
	padding: .5rem;
}

.question {
	width: 20%;
	text-transform: capitalize;
}
